footer {
	padding: 20px 0;
	color: #fff;
	background-color: #222;
}

footer h4 {
	font-weight: 200;
}

footer p {
	margin: 10px 0 0 0;
}

footer .footer-menu ul {
	display: block;
}

footer .footer-menu ul li {
	float: none;
}
